.menu-animate {
  animation: menu-animate var(--animation-time) ease-in;
  animation-fill-mode: forwards;
}

@keyframes menu-animate {
  from {
    transform: translate3d(54px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.menu-animate-return {
  animation: menu-animate-return var(--animation-time) ease-in;
  animation-fill-mode: forwards;
}

@keyframes menu-animate-return {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(54px, 0, 0);
  }
}
