.overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 30px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 1rem;
  z-index: 999999;

  p {
    color: white;
  }
}